{% extends "base.html.twig" %}

{% block title %}Holla{% endblock %}

	{% block body %}

		<main class="container">
		<div>
		{% if article.published == 1 %}

			{{ article.title }}
			<br>
			{{ article.description }}
			<br>
			{{ article.image }}

		{% endif %}
		</div>

		</main>
		
	{% endblock %}